<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<div class="video-container">
  <video
    [class.show]="!imageCaptureState"
    [class.hide]="imageCaptureState"
    #video
    id="video"
    [width]="WIDTH"
    [height]="HEIGHT"
    autoplay
  ></video>

  <canvas
    [class.show]="imageCaptureState"
    [class.hide]="!imageCaptureState"
    #canvas
    id="canvas"
    [width]="WIDTH"
    [height]="HEIGHT"
  ></canvas>
</div>

<div>
  <button *ngIf="!imageCaptureState" (click)="capturePhoto()">
    Snap Photo
  </button>
  <button *ngIf="imageCaptureState" (click)="saveCapturePhoto()">
    Save Photo
  </button>
  <p>
    <button *ngIf="imageCaptureState" (click)="retakePhoto()">
      Retake Photo
    </button>
  </p>
</div>
